$text-color: white;
$hover-color: rgb(209, 209, 34);
$light-color: lightgrey;
$dark-color: rgb(223, 208, 208);
$box-color: #333;
$font-fam: 'Dosis', sans-serif;

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0rem 1.5rem;
}
