@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 0.3rem 0rem;
}
body {
  font-family: $font-fam;
}

#header-home {
  background: url("./../img/showcase.jpg") no-repeat center center/cover;
  height: 680px;
  width: 100%;
  overflow: hidden;
}
// nav-bar
.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 0.7rem;

  img {
    width: 05%;
    height: 100%;
  }
  ul {
    display: flex;
  }

  li {
    list-style: none;
    padding: 1.3rem;
  }
  a {
    color: $text-color;
    text-decoration: none;
    font-size: 17px;
    transition: border-bottom 0.2s ease-in-out;

    &:hover {
      padding-bottom: 0.4rem;
      border-bottom: 3px solid $text-color;
    }
  }
}
.link a {
  border-bottom: 3px solid $hover-color;
  padding-bottom: 0.4rem;

  &:hover {
    border-bottom: 3px solid $hover-color;
    padding-bottom: 0.4rem;
  }
}
.header-content {
  text-align: center;
  padding-top: 18%;
  overflow: hidden;
  max-width: 1280px;

  h1 {
    font-size: 80px;
    font-weight: bold;
    color: $text-color;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
    color: $text-color;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: $text-color;
    padding: 1rem 1.8rem;
    text-align: center;
    display: inline-block;
    transition: all 0.4s ease-in-out;

    &:hover {
      background: $hover-color;
    }
  }
}
// specialize section
.boxes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  .boxes {
    padding: 0.5rem;

    i {
      color: $hover-color;
      padding-bottom: 0.4rem;
    }
  }
}
.spec-container {
  margin: auto;
  overflow: hidden;
  padding: 0.9rem 1.5rem;
  max-width: 1280px;
}
#specialize {
  text-align: center;
  padding: 1.5rem;

  h1 {
    font-size: 30px;
    padding-bottom: 0.4rem;
  }
}
.para {
  font-size: 19px;
  padding-bottom: 1.7rem;
  font-weight: 600;
}
.bottom-line {
  height: 2px;
  width: 3rem;
  background: $hover-color;
  display: block;
  margin: 0 auto 1rem auto;
}
// client part
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.items > div:nth-child(odd) {
  background: $light-color;
}
.items > div:nth-child(even) {
  background: lightblue;
}
.items > div {
  padding: 3.5rem;

  h2 {
    padding: 0.5rem;
  }
  i {
    padding: 0.5rem;
  }
}
.clients-container {
  margin: auto;
  overflow: hidden;
}

//Creative PART

.inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  h3 {
    padding-top: 1rem;
  }

  &-process {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background: $hover-color;
    border-radius: 50%;
    height: 30px;
    width: 38px;
    color: white;
    line-height: 11px;
    transition: all 1s;
    text-align: center;
    transform: translateX(-10px);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.creative-container {
  margin: auto;
  text-align: center;
  overflow: hidden;
  max-width: 1280px;
  h1 {
    font-size: 30px;
    padding-bottom: 0.4rem;
    padding-top: 1.5rem;
  }
}
#creative {
  padding: 1rem;
}

.inner > div i {
  background: #333;
  padding: 2rem;
  border-radius: 50%;
  line-height: 90px;
  position: relative;
  text-align: center;
  transition: all 1s;
  margin: 0.4rem;
  color: white;
  width: 150px;
  height: 150px;

  &:hover {
    background: $hover-color;
    width: 180px;
    height: 180px;
    line-height: 120px;

    .inner-process {
      background: #333;
    }
  }
}
// footer part

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  max-width: 1280px;

  ul {
    list-style: none;
    display: flex;
  }
  a {
    padding: 0.6rem;
    color: white;

    i {
      padding: 1rem;

      border: 1px solid white;
      border-radius: 50%;

      &:hover {
        background: $hover-color;
      }
    }
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
#foot {
  background: #333;
  color: white;
}

// contact section

.nav-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  padding: 0.7rem;
  overflow: hidden;

  img {
    width: 05%;
    height: 100%;
  }
  ul {
    display: flex;
  }

  li {
    list-style: none;
    padding: 1.3rem;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: border-bottom 0.2s ease-in-out;

    &:hover {
      padding-bottom: 0.4rem;
      border-bottom: 3px solid $text-color;
    }
  }
}
.link a {
  border-bottom: 3px solid $hover-color;
  padding-bottom: 0.4rem;

  &:hover {
    border-bottom: 3px solid $hover-color;
    padding-bottom: 0.4rem;
  }
}
.nav-all {
  background: url("../img/showcase.jpg") no-repeat 20% 30% / cover;
  border-bottom: 3px solid $hover-color;
}

// contact form
.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  input {
    padding: 0.6rem;
  }
}
.contact-container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
textarea {
  padding: 0.5rem;
  width: 100%;
}
.btn {
  padding: 0.8rem 18rem;
  text-align: center;
  background: #333;
  color: white;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    background: $hover-color;
  }
}
#text-message {
  padding: 1rem 0rem;
  padding-bottom: 5rem;
}
#contact-me {
  padding: 2rem;

  h1 {
    font-size: 32px;
    padding-bottom: 0.6rem;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}

.spade {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h3 {
    padding: 0.5rem;
  }
}
.box-cont {
  margin: auto;
  text-align: center;
  color: white;
  max-width: 1280px;
}
#contact-boxes {
  background: #333;
  padding: 2rem;
}
#start-project {
  margin: auto;
  text-align: center;
  padding: 4rem;
  background: $hover-color;
  font-weight: 800;
  color: white;
  font-size: 30px;
}

// work page
img {
  width: 100%;
  min-height: 100%;
}
.work-container {
  margin: auto;
  text-align: center;
  max-width: 1280px;
  overflow: hidden;

  h1 {
    font-size: 32px;
    padding-bottom: 0.6rem;
  }
  p {
    font-size: 20px;
    padding-bottom: 1rem;
    font-weight: bold;
  }
}
#work {
  padding: 2rem;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  height: 900px;
}

.item {
  position: relative;
  background: $hover-color;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background: inherit;
    opacity: 0.9;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    // cubic bezier allow us to maintain abt speed
  }

  &:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  &:hover &-image {
    transform: scale(1.2);
  }
  // bring in text in hover
  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }
  &-image {
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    height: auto;
  }
  &-image:before {
    content: "";
    display: block;
    padding-top: 75px;
    overflow: hidden;
  }

  &-image img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: white;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 0.6s;
  }
  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
// about page
.about-cont {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 1rem;
  overflow: hidden;

  img {
    width: 100%;
    min-height: 100%;
  }
}
.about-container {
  margin: auto;
  text-align: center;
  max-width: 1280px;
  overflow: hidden;

  h1 {
    font-size: 30px;
    padding-bottom: 0.4rem;
  }
}
#about {
  padding: 2.5rem;
}
.project-about {
  padding: 1.5rem 1.2rem;
  background: $light-color;
  border-left: 4px solid $hover-color;

  h4 {
    font-size: 20px;
    padding-bottom: 0.4rem;
  }
  p {
    font-weight: 500;
  }
}
.about-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1.3rem 0rem;

  i {
    color: $hover-color;
    padding-bottom: 0.9rem;
  }
}
// technical skills portion
#skills {
  background: #333;
  padding: 3rem;
}
.tech-container {
  margin: auto;
  color: white;
  overflow: hidden;
  max-width: 1280px;

  h1 {
    text-align: center;
    padding-bottom: 0.6rem;
    font-size: 30px;
  }
}
.progress {
  height: 24px;
  width: 100%;
  background: $light-color;
  margin-bottom: 0.4rem;
  overflow: hidden;
  border-radius: 5px;

  div {
    height: 100%;
    background: $hover-color;
  }
}
// logo-part

#logoab {
  background: $light-color;
  padding: 4rem;
}
.log-container {
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  max-width: 1280px;

  img {
    width: 70%;
  }
}

// testimonials
.test-container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;

  h1 {
    text-align: center;
    padding-bottom: 0.6rem;
  }
  .para {
    text-align: center;
  }
}
.comment-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  div {
    border: 1px solid $light-color;
    padding: 1rem;
    border-radius: 5px;
  }
}
.test-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 1rem 0rem;

  img {
    width: 20%;
    min-height: 100%;
    border-radius: 50%;
  }
}
.testi-img {
  display: flex;
  padding: 0.4rem;
  h3 {
    text-align: center;
    padding: 1rem;
  }
}

#test {
  padding: 2.5rem;
}
// end

@import "mobile";
